#Folders
node_modules/
dist/
build/
sessions/

#Files
*.log
*.tmp

#System Files
.DS_Store
Thumbs.db

#IDE Files
.vscode/
.idea/ 

#Python Files
__pycache__/
*.pyc
*.pyo
*.pyd

#Virtual Environment
venv/
env/

#Other
*.bak
*.swp